# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# dotnet
**/bin/
**/obj/
*.csproj.user

# IDE
.idea/
*.swp
*.swo
*.*~